<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>

</head>

<body>

    <main>


        <div class="container">

            <div class="contiene-producto">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="Zapato">
                <div class="detalles">
                    <h2>Zapato</h2>
                    <p>Descripción: justo vel libero
                        malesuada, nec finibus arcu suscipit.</p>
                    <p>Precio: $50.00</p>
                    <!-- <p>Tallas disponibles: 38, 39, 40</p> -->
                    <!-- <button>Agregar al} carrito</button> -->
                </div>
            </div>

            <div class="contiene-producto">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="Zapato">
                <div class="detalles">
                    <h2>Zapato</h2>
                    <p>Descripción: justo vel libero
                        malesuada, nec finibus arcu suscipit.</p>
                    <p>Precio: $50.00</p>
                    <!-- <p>Tallas disponibles: 38, 39, 40</p> -->
                    <!-- <button>Agregar al} carrito</button> -->
                </div>
            </div>

            <div class="contiene-producto">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="Zapato">
                <div class="detalles">
                    <h2>Zapato</h2>
                    <p>Descripción: justo vel libero
                        malesuada, nec finibus arcu suscipit.</p>
                    <p>Precio: $50.00</p>
                    <!-- <p>Tallas disponibles: 38, 39, 40</p> -->
                    <!-- <button>Agregar al} carrito</button> -->
                </div>
            </div>
            <div class="contiene-producto">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="Zapato">
                <div class="detalles">
                    <h2>Zapato</h2>
                    <p>Descripción: justo vel libero
                        malesuada, nec finibus arcu suscipit.</p>
                    <p>Precio: $50.00</p>
                    <!-- <p>Tallas disponibles: 38, 39, 40</p> -->
                    <!-- <button>Agregar al} carrito</button> -->
                </div>
            </div>
            <div class="contiene-producto">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="Zapato">
                <div class="detalles">
                    <h2>Zapato</h2>
                    <p>Descripción: justo vel libero
                        malesuada, nec finibus arcu suscipit.</p>
                    <p>Precio: $50.00</p>
                    <!-- <p>Tallas disponibles: 38, 39, 40</p> -->
                    <!-- <button>Agregar al} carrito</button> -->
                </div>
            </div>


        </div>
    </main>

    <script>

    </script>
</body>

</html>