<form
  class="form-container"
  [formGroup]="productForm"
  (ngSubmit)="isEditing ? EDITARProducto() : agregarProducto()"
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="form-field">
      <label for="nombre">Nombre:</label>
      <input
        pInputText
        type="text"
        id="nombre"
        placeholder="Nombre del producto"
        formControlName="name"
        required
      />
      <div
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
        class="error-message"
      >
        Nombre es requerido
      </div>
    </div>
    <div class="form-field">
      <label for="brand">Marca:</label>
      <input
        pInputText
        type="text"
        id="brand"
        formControlName="brand"
        placeholder="Marca del producto"
        required
      />
      <div
        *ngIf="
          productForm.get('brand')?.invalid && productForm.get('brand')?.touched
        "
        class="error-message"
      >
        Marca es requerida
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-field">
      <label for="material">Material:</label>
      <input
        pInputText
        type="text"
        id="material"
        formControlName="material"
        placeholder="Material del producto"
        required
      />
      <div
        *ngIf="
          productForm.get('material')?.invalid &&
          productForm.get('material')?.touched
        "
        class="error-message"
      >
        Material es requerido
      </div>
    </div>
    <div class="form-field">
      <label for="category">Categoría:</label>
      <input
        pInputText
        type="text"
        id="category"
        formControlName="category"
        placeholder="Categoría del producto"
        required
      />
      <div
        *ngIf="
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
        "
        class="error-message"
      >
        Categoría es requerida
      </div>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <span class="p-float-label">
      <textarea
        class="textarea"
        id="float-input"
        rows="2"
        style="width: 100%"
        pInputTextarea
        formControlName="description"
        placeholder="Descripción del producto"
      ></textarea>
      <label for="float-input">Descripción del producto</label>
    </span>
  </div>

  <p-divider />

  <!-- Variantes -->
  <div formArrayName="variants">
    <div
      *ngFor="let variant of variants.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="row">
        <div class="form-field2">
          <label for="images">Imágenes:</label>
          <input
            type="file"
            id="images"
            formControlName="images"
            accept="image/*"
            multiple
            (change)="onFileSelected($event, i, 'images')"
          />
          <div class="image-preview-container">
            <div class="image-preview" *ngFor="let image of fileNames[i]?.images; let j = index">
              <img [src]="image.src" alt="Preview" />
              <button class="remove-button" (click)="removeImage(i, j, 'images')">X</button>
            </div>
          </div>
          <div *ngIf="variant.get('images')?.invalid && variant.get('images')?.touched" class="error-message">
            Imágenes son requeridas
          </div>
        </div>
        <div class="form-field">
          <label for="color">Color:</label>
          <input
            pInputText
            type="text"
            id="color"
            formControlName="color"
            placeholder="Color de la variante"
            required
          />
          <div
            *ngIf="
              variant.get('color')?.invalid && variant.get('color')?.touched
            "
            class="error-message"
          >
            Color es requerido
          </div>
        </div>
        <div class="form-field">
          <label for="texture">Textura:</label>
          <input
            type="file"
            id="texture"
            formControlName="texture"
            accept="image/*"
            (change)="onFileSelected($event, i, 'texture')"
          />
          <div class="image-preview-container" *ngIf="fileNames[i]?.texture">
            <div class="image-preview">
              <img [src]="fileNames[i].texture?.src" alt="Preview" />

              <button class="remove-button" (click)="removeImage(i, 0, 'texture')">X</button>
            </div>
          </div>
          <div *ngIf="variant.get('texture')?.invalid && variant.get('texture')?.touched" class="error-message">
            Textura es requerida
          </div>
        </div>
      </div>
      <div formArrayName="sizeStock">
        <div *ngIf="getSizeStockArray(variant) as sizeStockArray">
          <div
            *ngFor="let sizeStock of sizeStockArray.controls; let j = index"
            [formGroupName]="j"
          >
            <p-divider />
            <div class="row">
              <div class="form-field">
                <label for="size">Talla:</label>
                <input
                  pInputText
                  type="number"
                  id="size"
                  formControlName="size"
                  placeholder="Talla"
                  required
                />
                <div
                  *ngIf="
                    sizeStock.get('size')?.invalid &&
                    sizeStock.get('size')?.touched
                  "
                  class="error-message"
                >
                  Talla es requerida
                </div>
              </div>
              <div class="form-field">
                <label for="stock">Stock:</label>
                <input
                  pInputText
                  type="number"
                  id="stock"
                  formControlName="stock"
                  placeholder="Stock"
                  required
                />
                <div
                  *ngIf="
                    sizeStock.get('stock')?.invalid &&
                    sizeStock.get('stock')?.touched
                  "
                  class="error-message"
                >
                  Stock es requerido
                </div>
              </div>
              <div class="form-field">
                <label for="price">Precio:</label>
                <input
                  pInputText
                  type="number"
                  id="price"
                  formControlName="price"
                  placeholder="Precio"
                  required
                />
                <div
                  *ngIf="
                    sizeStock.get('price')?.invalid &&
                    sizeStock.get('price')?.touched
                  "
                  class="error-message"
                >
                  Precio es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <p-button   pRipple
      severity="info"
      [text]="true" [raised]="true"
      icon="pi pi-reply
" (click)="addSizeStock(i)" label="Agregar Talla/Stock"></p-button>
       <p-button
       [text]="true" [raised]="true" severity="danger" icon="pi pi-delete-left" (click)="removeVariant(i)" label="Eliminar Variante"></p-button>

      <p-divider />
    </div>
  </div>
  <p-button [rounded]="true" severity="success" (click)="addVariant()" icon="pi pi-plus
" label="Agregar Variante"></p-button>
  <!-- <button  [rounded]="true" severity="success" (click)="addVariant()">Agregar Variante</button> -->
  <p-divider />
  <div class="btn">
    <button class="btn-finish" pButton type="submit">
      {{ isEditing ? "Guardar cambios" : "Guardar" }}
    </button>
  </div>
</form>
