.sneaker-details {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    width: 150%;

    // padding: 10px;
    // margin-left: 100px;
    // margin-left: auto;
    margin-right: auto;
}

.thumbnails {
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    /* Ocultar miniaturas por defecto */
}





@media (max-width: 768px) {
    .sneaker-details {
        width: 370px;

        // padding: auto;
        // padding: 20px;
        position: relative;
        // position: absolute;
        justify-content: center;
        // border: dashed 3px #ca57be;
        // margin-left: 50px;
        height: 450px;
        margin: 10px;
        // margin-left: -10px;
        /* Establecer el ancho del contenedor al 50% en pantallas grandes */
        // flex-direction: column;
    }

    .thumbnails {


        // border: dashed 3px #40ff00;
        display: flex;
        // background-color: dodgerblue;
        margin-top: 90%;
        // margin-left: -15px;
        margin-left: -15px;
        flex-direction: row;
        // margin-left: 40px;
        gap: 10px;
        // order: 1;

    }

    div .thumbnails img {
        background: rgb(255, 254, 244);
        // order: 1;
        // justify-content: center;
        // z-index: 1;
        box-shadow: 0 2px 5px rgba(126, 126, 126, 0.427);

        width: 115px;
        border: 1px solid #f0f0f0d0;

        // margin-right: 10px;
        // border: dashed 3px #000000;


    }

    div .thumbnails img:hover {
        border-color: #d8dbdbd3;
        transform: scale(5px);
    }

    div .main-image img {
        // order: 1;
        // justify-content: center;
        // z-index: 1;
        width: 300px;
        // margin-top: 10%;
        // margin-bottom: -100%;
        // margin-left: -350px;
        margin-left: -330px;

        // position: relative;
        // justify-items: center;
        background-color: rgba(30, 143, 255, 0);
        // border: dashed 3px #000000;


    }
}





.thumbnails img {
    gap: 10px;
    width: 100px;
    border: 1px solid #dddddd79;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.301);
    cursor: pointer;
}



.thumbnails img:hover {
    border-color: #b2b1b1;
    transform: scale(2px);
}

.main-image img {


    width: 70%;

    height: auto;
    filter: drop-shadow(30px 10px 15px #a8a8a8);
    // border: 1px solid #dddddd79;dr

    // dro-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}