.sneaker-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnails {
    display: none;
    /* Ocultar miniaturas por defecto */
}

@media (max-width: 768px) {
    .sneaker-details {
        width: 150%;
        /* Establecer el ancho del contenedor al 50% en pantallas grandes */
        // flex-direction: column;
    }

    .thumbnails {
        display:flex;
        background-color: dodgerblue;
       margin-top: 10%;
        flex-direction: row;
        gap: 10px;
    }

    .main-image {
        background-color: rgb(31, 6, 6);
    }

    .main-image img {
        height: 500%;


    }
}

.thumbnails img {
    width: 100px;
    border: 1px solid #dddddd79;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.thumbnails img:hover {
    border-color: #b2b1b1;
}

.main-image {
    flex: 1;
    padding: 20px;
}

.main-image img {
    max-width: 80%;
    height: auto;
    filter: drop-shadow(30px 10px 15px #a8a8a8);
    // border: 1px solid #dddddd79;dr

    // dro-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}