<div class="sneaker-details">
  <div class="thumbnails">
    <!-- Imágenes en miniatura aquí -->
    <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
      alt="SNEAKER BLANCO 2669229">
    <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
      alt="SNEAKER BLANCO 2669229">
    <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
      alt="SNEAKER BLANCO 2669229">
  </div>

  <div class="main-image">
    <!-- Imagen principal del sneaker -->
    <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
      alt="SNEAKER BLANCO 2669229">
  </div>

</div>