<table class="table">
    <thead>
        <tr>
            <th>Número de Pedido</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total de Pago</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos"
            [ngClass]="{'pendiente': pedido.estado === 'Pendiente', 'cancelado': pedido.estado === 'Cancelado', 'reembolsado': pedido.estado === 'Reembolsado', 'completado': pedido.estado === 'Completado'}">
            <td>{{ pedido.numero }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.total }}</td>
        </tr>
    </tbody>
</table>