.container {
    display: flex;
    // border: dashed 3px #6d9bff;
    position: relative;

    // justify-content: space-between;
    margin-top: 100px;

}

.detail-img {
    // border: dashed 3px #121826;

    // background: #00c28e;
    // margin-left:   0px;  
    // margin-right:   auto;  
}

.detail-info {

    // display: ruby;
    margin-right: 100px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .detail-info {
        order: 1;
    }
}