.container {
    display: flex;
    // border: dashed 3px #6d9bff;
    position: relative;

    // justify-content: space-between;
    margin-top: 100px;

}

.detail-img {
    // border: dashed 3px #121826;

    // background: #00c28e;
    // margin-left:   0px;
    // margin-right:   auto;
}

.detail-info {

    // display: ruby;
    margin-right: 100px;
}

// @media (max-width: 768px) {
//     .container {
//         flex-direction: column;
//     }

//     .detail-info {
//         order: 1;
//     }
// }
// a

// .detail-img {
//     margin-left: 10px;
// }


// .detail-info {
//     // display: ruby;
//     // position: absolute;

//     // margin-right: 100px;
// }
app-carrito-float{

  display: none;
}
@media (max-width: 768px) {

    .header {
        display: none;
    }

    .footer {
        display: none;

    }
    app-carrito-float{

      display: flex;
    }
    .container {

        position: relative;
        // padding: 0;
        // justify-content: space-between;
        margin-top: -25px;
        // background: linear-gradient(90deg, #061a14 0%, #9c559d 100%);
        background: rgba(255, 246, 235, 0.896);

        flex-direction: column;
    }

    .detail-img {
        margin-left: -10px;
        /* Ajusta este valor según el ancho del margen que desees */
        margin-right: -10px;
        /* Ajusta este valor según el ancho del margen que desees */
        width: calc(100% + 20px);
        /* Calcula el ancho total incluyendo los márgenes */
    }

    .detail-info {
     box-shadow: 0 0 10px  #b8b8b8;
        // border: dashed aqua;
        background: rgb(255, 255, 255);
        // margin-left: 0;
        // margin-right: 0;
        order: 1;
        border-radius: 30px 30px 0 0;
        margin-left: -15px;
        /* Ajusta este valor según el ancho del margen que desees */
        margin-right: -10px;
        /* Ajusta este valor según el ancho del margen que desees */
        width: calc(100% + 30px);
        /* Calcula el ancho total incluyendo los márgenes */
        // background: rgb(250, 239, 217);
    }
}
