.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.detail-img {
// background: #00c28e;
margin-left:   50px;  
margin-right:   auto;  
}
.detail-info {
// display: ruby;
margin-right: 300px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .detail-info {
        order: 1;
    }
}