/* Estilo del contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Estilo del contenedor de login */
.login-container {
  width: 100%;
}

/* Estilo del título */
.login-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

/* Estilo de los grupos de formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilo de las etiquetas */
.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

/* Estilo de los campos de entrada */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #a6c0fe;
}

/* Estilo del botón de login */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5675be; /* Color pastel para el botón */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #879cf8; /* Color pastel más oscuro al hacer hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo del separador */
.separator {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #aaa;
  position: relative;
}

.separator::before,
.separator::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ddd;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}

/* Estilo de los botones sociales */
.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-buttons button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.social-buttons button i {
  margin-right: 8px;
}

/* Estilo botón de Facebook */
.social-buttons .facebook {
  background-color: #3c507e; /* Color pastel para Facebook */
  color: #fff;
}

.social-buttons .facebook:hover {
  background-color: #4a61ac; /* Color pastel más oscuro al hacer hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo botón de Google */
.social-buttons .google {
  background-color: #a45853; /* Color pastel para Google */
  color: #fff;
}

.social-buttons .google:hover {
  background-color: #f58a84; /* Color pastel más oscuro al hacer hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo de los enlaces */
.login-container p {
  text-align: center;
  color: #555;
  font-size: 14px;
}

.login-container p a {
  color: #a6c0fe;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}
