<body>


  <div class="sneaker-details">
    <div class="thumbnails">
      <!-- Imágenes en miniatura aquí -->
      <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="SNEAKER BLANCO 2669229">
      <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="SNEAKER BLANCO 2669229">
      <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="SNEAKER BLANCO 2669229">


    </div>
    <div class="main-image">
      <!-- Imagen principal del sneaker -->
      <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="SNEAKER BLANCO 2669229">
      <p class="slogan">imparable</p>
      <p class="price">$549.90</p>
      <!-- Opciones de selección de talla y cantidad -->
      <select class="size-options">
        <option value="22">22</option>
        <!-- Otras opciones de tallas -->
      </select>
      <input type="number" class="quantity" value="1">
      <button class="buy-button">COMPRAR</button>
      <button class="add-to-bag-button">AGREGAR A LA BOLSA</button>
    </div>
    <div class="payment-options">
      <!-- Iconos de opciones de pago -->
    </div>
  </div>

</body>
