// Estilos para .container
.container {
  margin-top: 20px;
  // padding: 0 10px; // Añade espacio a los lados para dispositivos móviles

}

table {
  width: 100%;
  // border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 8px; // Reducir el tamaño de las celdas en dispositivos móviles
  text-align: left;
}

th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #e9ecef;
}

.btn-agregar {
  background-color: #ffff;
  color: rgb(49, 49, 206);
  border: solid 1px  ;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
// Estilos para botones
// Estilos para botones de edición y eliminación
.btn-editar, .btn-eliminar {
  border: none;
  border-radius: 40px;
  background-color: transparent;
  color: #28a745; // Verde por defecto para editar y rojo para eliminar
  margin-right: 5px;
  transition: background-color 0.3s, color 0.3s; // Transición suave para el cambio de color de fondo y texto
  &:hover {
    // border: 2px solid #00c403;
    background-color: rgba(40, 167, 69, 0.1); // Verde claro para editar y rojo claro para eliminar en hover
    color: #218838; // Verde oscuro para editar y rojo oscuro para eliminar en hover
  }

}

.btn-eliminar {
  color: #dc3545; // Color rojo por defecto para el botón eliminar
  &:hover {
    border: none;
    background-color: rgba(220, 53, 69, 0.1); // Rojo claro en hover
    color: #c82333; // Rojo oscuro en hover
  }
}

// Estilos para el ícono dentro de los botones
.btn-editar .pi, .btn-eliminar .pi {
  margin-right: 5px;
}

// Media query para dispositivos móviles
@media only screen and (max-width: 600px) {
  .btn-agregar {
    padding: 8px 16px;
    font-size: 12px;
  }

  th, td {
    padding: 6px; // Reducir el espacio entre las celdas en dispositivos móviles
  }
}

// Media query para dispositivos medianos
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    padding: 0 10px;
  }

  th, td {
    padding: 2px !important; // Aumentar el espacio entre las celdas en dispositivos medianos
  }

  .dialog-web {
    max-width: 40rem;
  }
}
