<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Productos</h1>
  </div>
  <button
    pButton
    type="button"
    label="Agregar"
    icon="pi pi-plus"
    (click)="createprod()"
    class="btn-agregar"
  ></button>
  <p-toast />
  <p-confirmDialog />
  <div class="container">
    <p-table [value]="productos" class="tabla-crud">
      <ng-template pTemplate="header">
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td>
            <img [src]="producto.images[0] ? producto.images[0] : 'defaultImg'" alt="Imagen del producto" style="max-width: 100px; max-height: 100px;">
            <!-- [src]="product.images[0] ? product.images[0] : 'defaultImg'" -->
            <!-- {{ producto._id }} -->
          </td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description  }}</td>
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="btn-editar"
              (click)="editprod(producto)"
            ></button>

            <button
              pButton
              (click)="eliminar($event,producto._id)"
              type="button"
              icon="pi pi-trash"
              class="btn-eliminar"
              severity="danger" [outlined]="true"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>

