<div class="container">
  <div class="subcontenido">
    <h1 class="view-title">Productos</h1>

    <form [formGroup]="searchForm" class="form">
      <!-- <input pInputText placeholder="Buscar" formControlName="query" /> -->
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          placeholder="Buscar"
          formControlName="query"
        />
      </p-iconField>
      <p-button
        [outlined]="true"
        type="button"
        label="Crear Nuevo Producto"
        icon="pi pi-plus"
        (click)="createprod()"
        severity="success"
      ></p-button>
    </form>

    <!-- Table for larger screens -->
    <div class="table-container" *ngIf="!isMobile">

    <p-table [value]="productos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [totalRecords]="totalProducts" (onPage)="onPageChange($event)" class="p-table"  styleClass="p-datatable-gridlines"  severity="warning">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="image">
              <i class="pi pi-image"></i> Imagen
              <p-sortIcon field="image"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              <i class="pi pi-tag"></i> Nombre
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="variants">
              <i class="pi pi-palette"></i> Variantes
              <p-sortIcon field="variants"></p-sortIcon>
            </th>

            <th pSortableColumn="price">
              <i class="pi pi-dollar"></i> Precio <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>
              <img
                [src]="producto.variants[0].images[0] ? producto.variants[0].images[0] : 'defaultImg'"
                alt="Imagen del producto"
                class="product-image"
              />
            </td>
            <td>{{ producto.name }}</td>
            <td>
              <p-button
                icon="pi pi-eye"
                label="Variantes"
                badge="{{producto.variants.length}}"
                badgeClass="p-badge-contrast"
                outlined="true"
                (click)="showVariantDetails(producto.variants)"
              />
            </td>
            <td>{{ producto.variants[0].sizeStock[0].price}}</td>
            <td>
              <!-- <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="custom-btn custom-btn-primary"
                (click)="editprod(producto)"
              ></button> -->
              <p-button
                (click)="editprod(producto)"
                icon="pi pi-pencil"
                [rounded]="true"
                [text]="true"
                severity="info"
              />
              <p-button
                (click)="eliminar($event, producto._id)"
                icon="pi pi-trash"
                [rounded]="true"
                [text]="true"
                severity="danger"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Card list for smaller screens -->
    <div class="card-container" *ngIf="isMobile">
      <div class="product-card" *ngFor="let product of productos">
        <img
          [src]="product.variants[0].images[0] ? product.variants[0].images[0] : 'defaultImg'"
          alt="Imagen del producto"
          class="product-image"
        />
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p><b>Categoría:</b> {{ product.category }}</p>
          <p><b>Marca:</b> {{ product.brand }}</p>
          <p><b>Descripción:</b> {{ product.description }}</p>
          <p>
            <b>Precio:</b> {{ product.variants[0].sizeStock[0].price | currency
            }}
          </p>
          <div class="actions">
            <p-button
              (click)="editprod(product)"
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="info"
            />
            <p-button
              (click)="eliminar($event, product._id)"
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              severity="danger"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Detalles de Variantes"
  [(visible)]="displayVariantModal"
  [modal]="true"
  [style]="{width: '50vw'}"
>
  <div *ngFor="let variant of selectedVariants">
    <p><b>Color:</b> {{ variant.color }}</p>
    <p><b>Textura:</b></p>
    <img
      [src]="variant.texture"
      alt="Textura del producto"
      class="variant-texture"
    />
    <ul>
      <li *ngFor="let sizeStock of variant.sizeStock">
        <b>Talla:</b> {{ sizeStock.size }}, <b>Stock:</b> {{ sizeStock.stock }},
        <b>Precio:</b> {{ sizeStock.price | currency }}
      </li>
    </ul>
  </div>
  <p-footer>
    <p-button
      label="Cerrar"
      icon="pi pi-times"
      (click)="displayVariantModal=false"
    ></p-button>
  </p-footer>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
