.container {
  margin-top: 20px;
  padding: 0 10px; // Añade espacio a los lados para dispositivos móviles
}

table {
  width: 100%;
  // border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 8px; // Reducir el tamaño de las celdas en dispositivos móviles
  text-align: left;
}

th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #e9ecef;
}

.btn-agregar {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn-editar {
  background-color: #28a745;
  color: white;
}

.btn-eliminar {
  background-color: #dc3545;
  color: white;
}

// Media query para dispositivos móviles
@media only screen and (max-width: 600px) {
  .btn-agregar {
    padding: 8px 16px;
    font-size: 12px;
  }

  th, td {
    padding: 6px; // Reducir el espacio entre las celdas en dispositivos móviles
  }
}
// Media query para dispositivos
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
   
    padding: 0 10px ;

  }

  th, td {
    padding: 2px !important; // Aumentar el espacio entre las celdas en dispositivos medianos
  }
}
