/* Base styles for all screens */
h1 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px; /* Add a top margin to avoid overlapping with a fixed header */
}

.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item span {
  font-size: 16px;
}

.item-name {
  font-weight: bold;
}

.subTotal {
  text-align: center;
  margin-top: 20px;
}

.subTotal p {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.payment {
  text-align: center;
  margin-top: 20px;
}

.checkout-button,
.clear-cart-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  width: auto;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
}

.checkout-button:hover,
.clear-cart-button:hover {
  background-color: #0056b3;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    
  }

  .content {
    margin-top: 10px;
  }

  .item {
    flex-direction: column; /* Stack items on top of each other */
  }

  .item img {
    width: 100%; /* Make the image width 100% of the container */
    margin-right: 0;
  }

  .item-details {
    margin-top: 10px;
    text-align: center;
  }

  .item span {
    font-size: 14px;
  }

  .subTotal p {
    font-size: 16px;
  }

  .checkout-button,
  .clear-cart-button {
    width: 100%;
  }
}
