<div data-aos="zoom-in-down">
  <section class="quality-section">
    <div
      class="quality-header"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <h2>¡La mejor calidad en calzado!</h2>
      <p>
        En Zapaterías Huejutla podrás encontrar calzado de distintos modelos y
        marcas de prestigio a nivel nacional. Contamos con zapatos para niños,
        niñas, damas y caballeros de cualquier edad.
      </p>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="models-container">
        <div class="model">
          <h3>Botas</h3>
        </div>
        <div class="model">
          <h3>Sandalias</h3>
        </div>
        <div class="model">
          <h3>Calzado para toda la familia</h3>
        </div>
        <div class="model">
          <h3>Accesorios para calzado</h3>
        </div>
      </div>
    </div>
  </section>

  <div data-aos="fade-up" data-aos-anchor-placement="center-center">
    <section class="promo-section">
      <div class="promo-image">
        <img
          src="https://0201.nccdn.net/1_2/000/000/118/463/f3-960x718.jpg#RDAMDAID19393145"
          alt="Promoción"
        />
      </div>
      <div class="promo-content">
        <h2>¡Descuentos exclusivos!</h2>
        <p>
          Aprovecha nuestras ofertas especiales y lleva los mejores modelos de
          calzado a precios increíbles.
        </p>
        <button class="promo-button">Ver Promociones</button>
      </div>
    </section>
  </div>
</div>
<div data-aos="fade-up" data-aos-anchor-placement="center-center">
  <section class="promo-section promo-section-alt">
    <div class="promo-content">
      <h2>¡Visite nuestras tiendas!</h2>
      <p>
        Descubre las últimas tendencias en calzado y consigue tu par favorito
        antes que nadie.
      </p>
      <button class="promo-button2">Ver Nuevas Llegadas</button>
    </div>
    <div class="promo-image">
      <img
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1713995742/productMeanZapateriaHuejutla/imagenes/cqtibe2gpqa0oeo8c1hu.jpg"
        alt="Nuevas llegadas"
      />
    </div>
  </section>
</div>
