<!-- category-menu.component.html -->
<div *ngIf="showHeader">

    <div class="category-menu">
        <div class="category">
            <h3>Género</h3>
            <ul>
                <li>Mujer (116,655)</li>
                <li>Hombre (66,675)</li>
                <li>Niñas (27,300)</li>
                <li>Niños (11,424)</li>
                <li>Bebés (147)</li>
            </ul>
        </div>

        <div class="category">
            <h3>Talla</h3>
            <ul>
                <li>23 (95,760)</li>
                <li>23.5 (39,753)</li>
                <li>24 (77,133)</li>
                <li>24.5 (52,773)</li>
                <li>25 (122,430)</li>
                <li>25.5 (18,102)</li>
                <li>26 (120,960)</li>
                <li>26.5 (43,134)</li>
                <li>27 (56,910)</li>
                <li class="show-more">Mostrar más</li>
            </ul>
        </div>

        <div class="category">
            <h3>Categorías</h3>
            <ul>
                <li>Mocasines y Oxfords (46,276)</li>
                <li>Tenis (52,275)</li>
                <li>Zapatillas y Tacones (34,365)</li>
                <li>Sandalias y Chanclas (28,177)</li>
                <li>Flats (13,773)</li>
                <li>Botas y Botines (11,402)</li>
                <li>Cubre Zapatos (5,814)</li>
                <li>Pantuflas (4,269)</li>
                <li>Alpargatas (3,411)</li>
                <li class="show-more">Mostrar más</li>
            </ul>
        </div>

        <div class="category">
            <h3>Marca</h3>
            <ul>
                <li>Cklass (20,706)</li>
                <li>Andrea (19,887)</li>
                <li>Flexi (3,990)</li>
                <li>Ferrato (2,037)</li>
                <li>Mama Lola (1,764)</li>
                <li>Yuyin (1,113)</li>
                <li>Miracol (1,029)</li>
                <li>currency (945)</li>
                <li>Coqueta (903)</li>
                <li class="show-more">Mostrar más</li>
            </ul>
        </div>
    </div>
</div>