<body style="margin: -10px; height: 200vh; background:#000000; ">

<!-- </body> -->

    
<img style="width: 40%;  " src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1714696184/productMeanZapateriaHuejutla/imagenes/jsmctetw1lhnklo81zla.png">
<!-- <img style="width: 90%; " src="/src/assets/undraw_to_the_moon_re_q21i.svg"> -->
</body>



<style>
.footer{
display: none;
}    
.header{
display: none;

}

@keyframes zoom-in-right{
from{
opacity: 0;
transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
70%{
opacity: 1;
transform: scale3d(0.5, 0.5, 0.5) translate3d(-10px, 0, 0);
animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
}
};
</style>