<div class="card">
  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel>
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      <div class="container">

        <div class="table-container">
          <div class="card">
            <p-table [value]="carData" [tableStyle]="{'min-width': '20rem'}">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%">Artículo</th>
                </tr>
              </ng-template>
              <!-- Template para el cuerpo de la tabla -->
              <!-- <ng-template pTemplate="body" let-item> -->
              <ng-template pTemplate="body" let-item let-i="index">
                <tr>
                  <td>
                    <!-- Imagen del producto -->
                    <img
                      [src]="item.image? item.image : 'defaultImg'"
                      alt="Producto"
                      class="product-image"
                    />
                    <!-- Nombre del producto -->
                    <span>{{ item.name }} a precio de </span>
                    <!-- Precio del producto -->
                    <span class="product-price"
                      >{{ item.precio | currency }}</span
                    >
                    talla:
                    <span class="product-price">{{ item.size }}</span>

                    <!-- Controles de cantidad del producto -->
                    <div class="product-quantity-controls">
                      <button
                        type="button"
                        icon="pi pi-plus"
                        class="btn-quantity"
                        (click)="incrementQuantity(item)"
                      >
                        +
                      </button>
                      <span class="product-quantity">{{ item.cantidad }}</span>
                      <button
                        type="button"
                        icon="pi pi-minus"
                        class="btn-quantity"
                        (click)="decrementQuantity(item)"
                        [disabled]="item.cantidad === 1"
                      >
                        -
                      </button>

                      <!-- Botón para eliminar el producto del carrito -->
                      <p-toast position="top-center"></p-toast>
                      <p-confirmPopup></p-confirmPopup>

                      <button
                        type="button"
                        pButton
                        icon="pi pi-trash"
                        class="btn-delete"
                        (click)="confirm2($event, item)"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                  En total hay {{carData ? carData.length : 0 }} artículos en el
                  carrito.
                </div>
              </ng-template>
            </p-table>

            <!-- Sección para mostrar el total -->
            <div class="total-section">
              <span class="total-label">Total:</span>
              <span class="total-amount"
                >{{ getTotalAmount() | currency }}</span
              >
            </div>
          </div>
        </div>

        <!-- Detalles de pago y entrega -->
        <div class="payment-details">
          <div class="div" class="card flex justify-content-center gap-3">
            <label for="cantidadInput"
              >Los impuestos y gastos de envío se calculan en la pantalla de
              pagos.</label
            >

            <div class="flex align-items-center">
              <p-radioButton
                name="deliveryOption"
                value="shipping"
                label="Envío a Domicilio:"
                [(ngModel)]="deliveryOption"
                inputId="shippingOption"
                (onClick)="toggleAccordion('shipping')"
              ></p-radioButton>
            </div>
            <div class="flex align-items-center">
              <p-radioButton
                name="deliveryOption"
                value="inStore"
                label="Recoger en tienda"
                [(ngModel)]="deliveryOption"
                inputId="inStoreOption"
                (onClick)="toggleAccordion('inStore')"
              ></p-radioButton>
            </div>


            <p-accordion [activeIndex]="activeAccordionIndex">
              <!-- Panel para "En tienda" -->
              <p-accordionTab header="En tienda" icon="pi pi-shopping-cart">
                <p-selectButton
                  class="selecbtn"
                  [options]="stateOptions"
                  [(ngModel)]="value"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
                <div class="flex-auto" *ngIf="value === 'on'">
                  <label for="icondisplay" class="font-bold block mb-2">
                    Selecciona Fecha y Hora para Recoger
                  </label>
                </div>
              </p-accordionTab>
              <!-- Panel para "Envío" -->
              <p-accordionTab header="Envío" icon="pi pi-send">
                <div class="flex-auto">
                  <label for="icondisplay" class="font-bold block mb-2">
                    mas $80 precio por envio
                  </label>
                </div>
              </p-accordionTab>
            </p-accordion>

            <!-- Botones para regresar al inicio o continuar con el pago -->
            <div class="btn">
              <!-- <button class="btn-finish" (click)="redirectTo('home')"> -->
              <button class="btn-finish" (click)="continueToPayment()">
                Continuar
              </button>
              <button
                class="btn-continue-shopping"
                (click)="redirectTo('home')"
              >
                <!-- Continuar -->
                Regresar al Inicio
              </button>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <!-- TODO: 2: Detalles del Pedido -->
    <p-tabPanel>
      <p-breadcrumb [model]="items2" [home]="home"></p-breadcrumb>
      <!-- <form (ngSubmit)="submitForm()" [formGroup]="paymentForm"> -->
      <div class="container">
        <div class="table-container">
          <div class="card">
            <div class="total-section">
              <span class="total-label"
                >Resumen de compra mas entrega {{ getDeliveryOptionLabel()
                }}:</span
              >
              <ng-container *ngIf="getDeliveryOptionLabel() === 'Envío'">
                <span class="total-amount"
                  >{{getTotalAmount() }}+80 = {{ getTotalAmount() + 80 |
                  currency }}</span
                >
              </ng-container>
              <ng-container *ngIf="getDeliveryOptionLabel() === 'En tienda'">
                <span class="total-amount"
                  >{{getTotalAmount()}} + 0 ={{ getTotalAmount() | currency
                  }}</span
                >
              </ng-container>
            </div>

            <div class="form-group">
              <p-table [value]="carData" [tableStyle]="{'min-width': '20rem'}">
                <!-- Template para el encabezado de la tabla -->
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 20%">Artículo</th>
                  </tr>
                  <div class="flex align-items-center justify-content-between">
                    En total hay {{carData ? carData.length : 0 }} artículos en
                    el carrito.
                  </div>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="card flex justify-content-center">
                    <!-- <div class="flex flex-column gap-2"> -->
                    <label style="color: rgb(246, 88, 20)" for="Entrega"
                      >Tipo de Entrega
                    </label>

                    <!-- <label style="color: brown">
                      Fecha Seleccionada: {{ date }}
                    </label> -->
                    <label style="color: brown">
                      {{getDeliveryOptionLabel()}}
                    </label>
                  </div>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>


        <div
          class="card flex justify-content-center gap-3"
          style="border: none"
        >
          <form *ngIf="formviww" [formGroup]="paymentForm">
            <p-card header="Datos cliente">
              <div style="margin: 1cap">
                <span class="p-float-label">
                  <input
                    id="disabled-input"
                    [disabled]="inputsDisable"
                    pInputText
                    id="username"
                    formControlName="name"
                  />
                  <label>Username</label>
                </span>
              </div>
              <div style="margin: 1cap">
                <span class="p-float-label">
                  <input
                    id="disabled-input"
                    [disabled]="inputsDisable"
                    type="text"
                    pInputText
                    id="paternalLastname"
                    formControlName="maternalLastname"
                  />

                  <label for="maternalLastname">Apellido Materno</label>
                </span>
              </div>
              <div style="margin: 1cap">
                <span class="p-float-label">
                  <input
                    id="disabled-input"
                    [disabled]="inputsDisable"
                    type="text"
                    pInputText
                    id="paternalLastname"
                    formControlName="paternalLastname"
                  />

                  <label for="paternalLastname">Apellido Paterno</label>
                </span>
              </div>
              <div style="margin: 1cap">
                <span class="p-float-label">
                  <input
                    id="disabled-input"
                    [disabled]="inputsDisable"
                    pInputText
                    type="email"
                    id="email"
                    formControlName="email"
                    placeholder="EJ:juanPerez@gmail.com"
                    (keyup)="validateEmail()"
                  />

                  <label>Email</label>
                  <span class="p-input-icon-right">
                    <!-- <mat-icon>email</mat-icon> -->
                    <i class="pi pi-envelope"></i>
                  </span>
                </span>

                <small
                  *ngIf="paymentForm.get('email')?.invalid && (paymentForm.get('email')?.dirty || paymentForm.get('email')?.touched)"
                  style="color: rgb(196, 2, 2)"
                >
                  El correo electrónico es inválido.
                </small>
              </div>
              <div style="margin: 1cap">
                <span class="p-float-label">
                  <input
                    id="disabled-input"
                    [disabled]="inputsDisable"
                    pTooltip="nos comunicaremos mediante este numero"
                    tooltipPosition="bottom"
                    pInputText
                    autocomplete="false"
                    type="tel"
                    pKeyFilter="int"
                    pattern="[0-9]*"
                    maxlength="10"
                    placeholder="123-456-7890"
                    formControlName="phone"
                  />

                  <label for="phone">Teléfono</label>
                </span>
                <small
                  *ngIf="phoneError"
                  class="text-danger"
                  style="color: rgb(196, 2, 2)"
                >
                  {{ phoneError }}
                </small>
              </div>
              <p-toast position="top-center"></p-toast>
              <p-confirmDialog
                key="positionDialog"
                [position]="position"
                rejectButtonStyleClass="p-button-outlined"
              ></p-confirmDialog>

              <div class="btn">
                <button
                  type="button"
                  pButton
                  class="btn-finish"
                  (click)="confirm3()"
                  styleClass="p-button-success"
                >
                  confirmar datos
                </button>
              </div>
            </p-card>
          </form>
        </div>


        <p-card
          header="Dirección"
          *ngIf="getDeliveryOptionLabel() === 'Envío' && mostrar_direccion_form"
        >
          <div class="card-container">
            <div class="card-content">
              <!-- Dropdown para seleccionar el municipio -->
              <p-dropdown
                [options]="municipios"
                [(ngModel)]="selectedMunicipio"
                optionLabel="name"
                [showClear]="true"
                placeholder="Selecciona un municipio"
                class="dropdown-municipio"
                (onChange)="onMunicipioChange()"
              ></p-dropdown>
            </div>
            <div class="card-content">
              <!-- Dropdown para seleccionar la localidad -->
              <p-dropdown
                [options]="localidades"
                [(ngModel)]="selectedLocal"
                [showClear]="true"
                placeholder="Selecciona una colonia"
                class="dropdown-colonia"
                [disabled]="!selectedMunicipio"
              >
              </p-dropdown>
              <div class="card flex justify-content-center">
                <span class="p-float-label">
                  <textarea
                    class="textarea"
                    id="float-input"
                    rows="2"
                    style="width: 100%"
                    pInputTextarea
                    [(ngModel)]="especificacion"
                    placeholder="Especificaciones de dirección: calle, número, color de la casa, etc."
                    ></textarea>
                  <label for="float-input">Especificaciones de dirección</label>
                </span>
              </div>

            </div>
            <div class="btn">
              <button
                type="button"
                pButton
                class="btn-finish"
                (click)="confirm4()"
                styleClass="p-button-success"
              >
                confirmar datos
              </button>
            </div>
          </div>
        </p-card>



        <div
          class="payment-details"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <div class="card flex justify-content-center gap-3">
            <div class="btn">
              <button class="btn-finish" (click)="activeIndex = 0">
                Regresar
              </button>
              <span class="total-label"> total : </span>

              <ng-container *ngIf="getDeliveryOptionLabel() === 'Envío'">
                <span class="total-amount">
                  {{ getTotalAmount() + 80 | currency }}</span
                >
              </ng-container>
              <ng-container *ngIf="getDeliveryOptionLabel() === 'En tienda'">
                <span class="total-amount"
                  >{{ getTotalAmount() | currency }}</span
                >
              </ng-container>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- </form> -->
    </p-tabPanel>
  </p-tabView>
</div>
<p-dialog header="Resumen de Compra" [modal]="true" [(visible)]="resumen" [style]="{ width: '30rem' }" class="dialog-container">
  <span class="dialog-subtitle block mb-3">Resumen de tu compra</span>

  <!-- Lista de productos -->
  <div *ngFor="let producto of purchaseData.productos" class="product-card mb-3">
    <div class="flex-container align-items-center">
      <img [src]="producto.image" alt="Imagen del producto" width="80" class="product-image mr-3">
      <div>
        <h4 class="product-title">{{ producto.name }}</h4>
        <p>Talla: {{ producto.size }}</p>
        <!-- <p>Precio: {{ producto.precio | currency }}</p> -->
        <p>Cantidad: {{ producto.cantidad }}</p>
      </div>
    </div>
  </div>

  <!-- Resumen de la compra -->
  <div class="purchase-summary">
    <h4>Total Neto: {{ purchaseData.totalneto | currency }}</h4>
    <p>Tipo de Entrega: {{ purchaseData.tipoEntrega }}</p>
    <p>Municipio: {{ purchaseData.direccion.municipio }}</p>
    <p>Localidad: {{ purchaseData.direccion.localidad }}</p>
    <p>Especificación: {{ purchaseData.direccion.especificacion }}</p>
  </div>

  <!-- Botones de acción -->
  <div class="flex-container justify-end spacing-2 margin-top-4">
    <p-button icon="pi pi-times" label="Cancelar" [outlined]="true" (onClick)="resumen = false" severity="warning" ></p-button>
    <p-button severity="help" icon="pi pi-credit-card" label="Pagar"  [outlined]="true" (onClick)="selectPaymentMethod('tarjeta')"></p-button>
  </div>
</p-dialog>
