<div class="sidenav">
  <div class="logo">
    <span class="logo-text">Administrador</span>
  </div>
  <ul class="nav flex-column">
    <li>
      <a
        tabindex="0"
        (click)="redirectToAdmin('inicio');setActiveLink($event)"
        class="nav-link"
      >
        <i class="pi pi-home"></i>
        <span class="link-text">Inicio</span>
      </a>
    </li>
    <li>
      <a
        tabindex="0"
        (click)="redirectToAdmin('order');setActiveLink($event)"
        class="nav-link"
      >
        <i class="pi pi-shopping-cart"></i>
        <span class="link-text">Pedidos</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'clientes-submenu'"
        (click)="toggleSubmenu('clientes-submenu');setActiveLink($event)"
      >
        <i class="pi pi-users"></i>
        <span class="link-text">Productos</span>
        <i
          class="pi pi-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'clientes-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'clientes-submenu'"
        class="submenu"
        id="clientes-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('productos');setActiveLink($event)"
            class="nav-link"
            >Listar Productos</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'roles-empleado-submenu'"
        (click)="toggleSubmenu('roles-empleado-submenu');setActiveLink($event)"
      >
        <i class="pi pi-cog"></i>
        <span class="link-text">Roles y Empleados</span>
        <i
          class="pi pi-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'roles-empleado-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'roles-empleado-submenu'"
        class="submenu"
        id="roles-empleado-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('lista-repartidores');setActiveLink($event)"
            class="nav-link"
            >Listar roles</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('agregar-repartidor');setActiveLink($event)"
            class="nav-link"
            >Agregar Empleado</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('agregar-repartidor');setActiveLink($event)"
            class="nav-link"
            >Listar Empleado</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'repartidores-submenu'"
        (click)="toggleSubmenu('repartidores-submenu');setActiveLink($event)"
      >
        <i class="pi pi-truck"></i>
        <span class="link-text">Repartidores</span>
        <i
          class="pi pi-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'repartidores-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'repartidores-submenu'"
        class="submenu"
        id="repartidores-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('lista-repartidores');setActiveLink($event)"
            class="nav-link"
            >Listar repartidores</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('agregar-repartidor');setActiveLink($event)"
            class="nav-link"
            >Agregar repartidores</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'vehiculo-submenu'"
        (click)="toggleSubmenu('vehiculo-submenu');setActiveLink($event)"
      >
        <i class="pi pi-car"></i>
        <span class="link-text">Vehículos</span>
        <i
          class="pi pi-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'vehiculo-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'vehiculo-submenu'"
        class="submenu"
        id="vehiculo-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('lista-vehiculo');setActiveLink($event)"
            class="nav-link"
            >Listar Vehículos</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('agregar-vehiculo');setActiveLink($event)"
            class="nav-link"
            >Agregar Vehículo</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'rutas-submenu'"
        (click)="toggleSubmenu('rutas-submenu')"
      >
        <i class="pi pi-route"></i>
        <span class="link-text">Rutas</span>
        <i
          class="pi pi-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'rutas-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'rutas-submenu'"
        class="submenu"
        id="rutas-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('lista-rutas');setActiveLink($event)"
            class="nav-link"
            >Listar ruta</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('agregar-ruta');setActiveLink($event)"
            class="nav-link"
            >Agregar ruta</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToAdmin('asignar-clientes-ruta');setActiveLink($event)"
            class="nav-link"
            >Asignar clientes a ruta</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        tabindex="0"
        (click)="redirectToAdmin('notificaciones');setActiveLink($event)"
        class="nav-link"
      >
        <i class="pi pi-bell"></i>
        <span class="link-text">Notificaciones</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        tabindex="0"
        (click)="redirectToAdmin('miPerfil');setActiveLink($event)"
        class="nav-link"
      >
        <i class="pi pi-user"></i>
        <span class="link-text">Mi perfil</span>
      </a>
    </li>
  </ul>
  <p-button
    label="Cerrar sesión"
    icon="pi pi-sign-out"
    [outlined]="true"
    severity="success"
  />

</div>




<div class="content">
  <router-outlet></router-outlet>
</div>
