<section class="news-section">
  <div class="news-card">

    <img src="https://0201.nccdn.net/4_2/000/000/01e/20c/f1-960x718.jpg#RDAMDAID19393117" alt="News Image">
    <h3>Oferta especial</h3>
    <div  data-aos="fade-up"
     data-aos-duration="3000">
      <p>Aprovecha nuestras nuevas promociones de verano. Descuentos hasta el 50% en toda la tienda.</p>
    </div>


  </div>

  <div class="news-card">

    <img src="https://0201.nccdn.net/4_2/000/000/03f/ac7/f8-960x718.jpg#RDAMDAID19393109" alt="News Image">
    <h3>Nuevos productos</h3>
    <div  data-aos="fade-up"
     data-aos-duration="3000">
    <p>Descubre nuestra colección de productos recién llegados. ¡No te los pierdas!</p>
  </div>
  </div>

  <div class="news-card">

    <img src="https://0201.nccdn.net/1_2/000/000/10d/cd6/f7-960x718.jpg#RDAMDAID19393122" alt="News Image">
    <h3>Evento exclusivo</h3>
    <div  data-aos="fade-up"
     data-aos-duration="3000">

      <p>Regístrate ahora para nuestro evento exclusivo de lanzamiento. ¡Cupos limitados!</p>
    </div>
  </div>
</section>
