

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3 class="footer-section-title">Acerca de Nosotros</h3>
            <p>Somos una empresa dedicada a ofrecer soluciones innovadoras en desarrollo web y diseño gráfico.</p>
        </div>
        <div class="footer-section links">
            <h3 class="footer-section-title">Enlaces Rápidos</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3 class="footer-section-title">Contáctanos</h3>
            <p><i class="fas fa-map-marker-alt"></i> Dirección: Av. Principal #123, Ciudad</p>
            <p><i class="fas fa-envelope"></i> Correo: infoempresa.com</p>
            <p><i class="fas fa-phone"></i> Teléfono: +123 456 789</p>
        </div>
        <div class="footer-section social">
            <h3 class="footer-section-title">Redes Sociales</h3>
            <ul>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">

        <p>&#169; 2024 Todos los derechos reservados | Nombre de la Empresa EDITADO IDX</p>
    </div>
</footer>
