<app-header></app-header>


<div class="content">
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>
<ngx-ui-loader
  [bgsOpacity]="0.1"
  [bgsColor]="'rgba(0, 145, 177, 0.4)'"
  [bgsPosition]="'bottom-right'"
  [bgsSize]="20"
  [bgsType]="'ball-spin'"
  blur="5"
  delay="0"
  [fgsColor]="'#ff36'"
  [fgsPosition]="'center-center'"
  [fgsSize]="50"
  [fgsType]="'ball-spin-clockwise'"
  [gap]="24"
  [logoPosition]="'center-center'"
  [logoSize]="120"
  logoUrl="https://res.cloudinary.com/dkfaglomz/image/upload/v1712038934/public/snucbs5916vwdiksyfwx.png"
  masterLoaderId="master'"
  [overlayBorderRadius]="'0'"
  [overlayColor]="'rgba(110,106,106,0.8)'"
  [pbColor]="'#ff36'"
  [pbDirection]="'ltr'"
  [pbThickness]="3"
  [hasProgressBar]="true"
  [text]="'Espere un Momento ..'"
  [textColor]="'#FFFFFF'"
  [textPosition]="'center-center'"
  maxTime="-1"
  minTime="300"
  style="outline: 3px dashed rgb(0, 145, 177);"
>
</ngx-ui-loader>
