<app-header></app-header>


<div class="content">
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>

<ngx-ui-loader
  [bgsOpacity]="0.1"
  [bgsColor]="'rgb(0, 145, 177);'"
  [bgsPosition]="'bottom-right'"
  [bgsSize]="20"
  [bgsType]="'ball-spin'"
  blur="2"
  delay="0"
  [fgsColor]="'#0092DF'"
  [fgsPosition]="'center-center'"
  [fgsSize]="50"
  [fgsType]="'ball-spin-clockwise'"
  [gap]="25"
  [logoPosition]="'center-center'"
  [logoSize]="75"
  logoUrl="https://res.cloudinary.com/dkfaglomz/image/upload/v1712038934/public/snucbs5916vwdiksyfwx.png"
  masterLoaderId="master'"
  [overlayBorderRadius]="'0'"
  [overlayColor]="'#20b1ff;'"
  [pbColor]="'#0092DF'"
  [pbDirection]="'ltr'"
  [pbThickness]="3"
  [hasProgressBar]="true"
  [text]="'Espere un Momento ..'"
  [textColor]="'#FFFFFF'"
  [textPosition]="'center-center'"
  maxTime="-1"
  minTime="300"
>
</ngx-ui-loader>
