// :host{
//   *{
//         outline: 1px solid red;
//   }
// }
// * {
//   outline: 1px solid red;
// }
@-webkit-keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.contiene-Imagen {
  width: 400px;
  margin-top: 10%;
  margin-right: 20px;
  margin-left: 60%;
  height: 400px;
  border-radius: 67% 33% 43% 51% / 60% 31% 54% 38%;
  background: linear-gradient(270deg, #003761 0%, #167274 100%);

  img {
    width: 400px;
    margin-top: 10%;
    margin-right: 40px;
    margin-left: 10%;
    height: 400px;
  }
}

.contiene-Imagen>img {
  animation: float 3s infinite ease-in-out;
}

.contiene-Imagen>img {
  animation: float 3s infinite ease-in-out;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .contiene-Imagen {
    // outline: 5px solid rgb(221, 255, 0);

    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    width: 350px;
    // height: 350px;
    height: auto;
    // border: dashed 3px #ffdd00;
    border-radius: 67% 33% 43% 51% / 60% 31% 54% 38%;
    background: linear-gradient(270deg, #003761 0%, #167274 100%);

  }

  .contiene-Imagen img {
    // outline: 1px solid red;
    // border: dashed 3px #0004ff;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: auto;
    // -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
  }
}