<div class="centered-container">
  <app-home-content></app-home-content>
  <p>Los más buscados</p>
</div>

<h2 class="title-Novedades">Novedades</h2>



<!-- <div style="border:dashed #620606;"> -->

<p-carousel
  [value]="originalProducts"
  [numVisible]="4"
  [numScroll]="4"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]=""
>
  <ng-template let-product pTemplate="item">
    <div class="prod">
      <app-categoria-marca-list-products
        [product]="product"
      ></app-categoria-marca-list-products>
    </div>
  </ng-template>
</p-carousel>
<!-- </div> -->

<h2 class="title-Novedades">Camina con estilo</h2>
<div data-aos="fade-right">
  <div class="centered-container">
    <p>
      Entra e inspírate, reunimos una seleccion del mejor calzado para que pises
      fuerte, camines cómodo y dejes tu huella.
    </p>
  </div>
</div>
<app-anuncios></app-anuncios>
<app-posters></app-posters>
<app-categoria-marca-carrucel></app-categoria-marca-carrucel>
