<!-- <body> -->
<div class="animated-title">
  <div class="text-top">
    <div>
      <span>Bienvenido</span>
      <span>a Zapaterias Huejutla</span>
    </div>
  </div>
  <div class="text-bottom">
    <div>
      <img
        style="width: 100px; height: 100px"
        src="https://res.cloudinary.com/dkfaglomz/image/upload/v1712038934/public/snucbs5916vwdiksyfwx.png"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>
<div class="">
  <div>
    <img
      style="
        width: 400px;
        margin-top: 10%;
        margin-right: 20px;
        margin-left: 60%;
        height: 400px;
      "
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
      alt=""
      srcset=""
    />
  </div>
</div>

<!-- <body> -->
<div class="container">
  <h2>Categorías</h2>
  <a (click)="redirectTo('detail')">Preguntas Frecuentes</a>
  <div class="carousel">
    <!-- Tarjeta de Producto 4 -->
    <div class="card" (click)="redirectTo('/detail')">
      <img

      (click)="redirectTo('detail')"
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="Producto 4"
      />
      <div class="category">Categoría C</div>
    </div>
    <div class="card">
      <img

      (click)="redirectTo('detail')"
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="Producto 4"
      />
      <div class="category">Categoría C</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="Producto 4"
      />
      <div class="category">Categoría C</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
        alt="Producto 4"
      />
      <div class="category">Categoría C</div>
    </div>
    <!-- Añadir más tarjetas según sea necesario -->
  </div>
</div>
<!-- </body> -->

<!-- </html> -->
