.animated-title {
  width: 150vmin;

  // outline: 1px solid red;

  color: rgb(38, 118, 73);
  font-family: "Montserrat", sans-serif;
  height: 100vmin;
  font-weight: bold;
  left: 30%;

  position: absolute;
  top: 60%;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.animated-title > div {
  height: 50%;

  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 11vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #21556a;
  top: 0;
  width: 500px;
}

.animated-title > div.text-top div {
  -webkit-animation: showTopText 1s;
  animation: showTopText 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #8bb33a;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  -webkit-animation: showBottomText 0.5s;
  animation: showBottomText 0.5s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 0;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.text {
  margin-top: 0;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
    filter: blur(0.4px);

    drop-shadow: 0px 0px 5px rgba(173, 213, 219, 0.932);
    /* Agrega la sombra al contenedor */
  }

  100% {
    transform: translateY(0px);
  }
}




@media (max-width: 768px) {
  .animated-title {
    transform: translate(-30%, -20%);


    // outline: 1px solid red;

    align-items: center;
    display: flex;
    justify-content: center;
    // margin-right: 30;
    width: 90vw; /* Cambia el ancho para que se ajuste al ancho de la pantalla en dispositivos móviles */
    max-width: none; /* Elimina el límite de ancho máximo */
    margin: 0 auto; /* Centra horizontalmente en la pantalla */
    position: relative;
  }

  .animated-title > div div {
    font-size: 8vw; /* Ajusta el tamaño de fuente para que sea proporcional al tamaño de la pantalla */
  }

  .animated-title > div.text-top {
    width: 90%; /* Ajusta el ancho para ocupar el 90% de la pantalla */
    max-width: 500px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra horizontalmente en la pantalla */
  }
}

// // @layer primeng {
// .p-carousel-indicators {
//     display: none;
//     flex-direction: row;
//     justify-content: center;
//     flex-wrap: wrap;
// }

// }

// @layer primeng {
//     .p-carousel-items-content {
//         overflow: hidden;
//         width: 50%;
//         margin-left: 8%;
//     }
// }




// // btn carurces ñ
// @layer primeng {

//     .p-carousel-prev,
//     .p-carousel-next {
//         align-self: center;
//         flex-grow: 0;
//         flex-shrink: 0;
//         display: flex;
//         cursor: pointer;
//         justify-content: center;
//         align-items: center;
//         overflow: hidden;
//         position: relative;
//         border: none;
//         padding: 20px;
//         margin: 20px 60px;
//         box-shadow: azure;
//         background: transparent;
//     }
// }

// // icon btn carrucel .
// .p-element .p-icon-wrapper {
//     color: #21556a;

// }

// primeng
// .carousel {
//     /* Adjust overall carousel width as needed */
//     width: 80%;
//     margin: 0 auto;

//     @media (max-width: 768px) {
//         /* Adjust carousel width for smaller screens */
//         width: 100%;
//     }
// }

// .p-carousel {
//     overflow: hidden;
//     display: flex;
//     scroll-behavior: smooth;
// }

// .p-carousel .p-carousel-item {
//     flex: 0 0 calc(100% / var(--numVisible));
//     margin-right: calc(var(--carousel-gutter) / 2);

//     &:last-child {
//         margin-right: 0;
//     }

//     @media (max-width: 768px) {
//         flex: 1 0 100%;
//         /* Make items stack on small screens */
//         margin-right: 0;
//     }
// }

// /* Adjust carousel item styles (card styles) */
// .p-carousel .p-carousel-item .card {
//     /* Remove default PrimeNG padding */
//     padding: 0;
// }

// .p-carousel .p-carousel-item .card .image {
//     /* Adjust image size and styling */
//     width: 100%;
//     object-fit: cover;
//     height: 150px;
//     /* Adjust image height as needed */
// }

/*
  Define additional styles for other elements within the carousel item template
  like title, price, buttons, etc. based on your design preferences.
*/

// :root {
//     --numVisible: 3;
//     /* Adjust based on your `[numVisible]` setting */
//     --carousel-gutter: 20px;
//     /* Adjust spacing between carousel items */
// }


// carrucel marcas
// .p-carousel {
//     width: 60%;
//     /* Adjust width as needed */
//     margin: 0 auto;
//     /* Center the carousel horizontally */
// }

// .p-carousel .p-carousel-item {
//     flex: 0 0 calc(10% / var(--numVisible));
// }

// .carousel-image {
//     width: 50px;
//     /* Ensure image covers entire item */
//     height: 50px;
//     /* Adjust image height as desired */
//     object-fit: cover;
//     /* Resize image to fit while maintaining aspect ratio */
// }
