.animated-title {
  width: 150vmin;
  // border: dashed #ff1500;
  color: rgb(38, 118, 73);
  font-family: "Montserrat", sans-serif;
  height: 100vmin;
  font-weight: bold;
  left: 30%;

  position: absolute;
  top: 68%;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.animated-title>div {
  height: 50%;
    // border: dashed #fb00ff;

  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title>div div {
  font-size: 11vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title>div div span {
  display: block;
}

.animated-title>div.text-top {
    // border: dashed #fb00ff;
 
  border-bottom: 1vmin solid #21556a;
  top: 0;
  width: 550px;
}

.animated-title>div.text-top div {
  -webkit-animation: showTopText 1s;
  animation: showTopText 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.animated-title>div.text-top div span:first-child {
  color: #6cb33a;
}

.animated-title>div.text-bottom {
  // border: #c10000 dashed 3px;
  bottom: 0;
}

.animated-title>div.text-bottom div {

  -webkit-animation: showBottomText 0.5s;
  animation: showBottomText 0.5s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 0;
  

  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.animated-title>div.text-bottom div>img.img-float {
  width: 100px; height: 100px;
}

.text {
  margin-top: 0;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
    filter: blur(0.4px);

    drop-shadow: 0px 0px 5px rgba(173, 213, 219, 0.932);
    /* Agrega la sombra al contenedor */
  }

  100% {
    transform: translateY(0px);
  }  
}  


.pi-angle-down {
  margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
  animation: flotante 2s infinite;
}




@media (max-width: 768px) {
  
  
  
//   .animated-title>div div span {
//     // gap: 3px;
//     // display: inline;
//   }  
  
// .animated-title>div.text-top div span:first-child{
//   // color: #8bb33a;
//   // padding-right: 10px;
// }


  
.animated-title>div.text-bottom {
  // border: #fff700 dashed 3px;
  // height: 100px;
  bottom: 0;
}  
.animated-title>div.text-bottom div>img.img-float {
  width: 80px; height: 80px;
}


.pi-angle-down {
  display: flex;
justify-content: center;
align-items: center;
  margin-top:-170px;

}  


  .animated-title {
    transform: translate(-30%, -20%);


    // outline: 3px dashed rgb(0, 145, 177);

    align-items: center;
    display: flex;
    justify-content: center;
    // margin-right: 30;
    width: 85vw;

    /* Cambia el ancho para que se ajuste al ancho de la pantalla en dispositivos móviles */
    // max-width: none;
    /* Elimina el límite de ancho máximo */
    margin: 0 auto;
    /* Centra horizontalmente en la pantalla */
    position: relative;
  }  

  .animated-title>div div {
    font-size: 8vw;
    /* Ajusta el tamaño de fuente para que sea proporcional al tamaño de la pantalla */
  }  

  .animated-title>div.text-top {
    width: 90%;
    /* Ajusta el ancho para ocupar el 90% de la pantalla */
    max-width: 500px;
    /* Limita el ancho máximo */
    margin: 0 auto;
    /* Centra horizontalmente en la pantalla */
  }  
}  





@keyframes flotante {
  0% {
      transform: translateY(0px) scale(1.05);
  }

  50% {
      transform: translateY(-10px);
      filter: blur(0.4px);
      // transform: scale(1.05);
  
      drop-shadow: 0px 0px 5px rgba(173, 213, 219, 0.932);
      /* Agrega la sombra al contenedor */
  }

  100% {
      transform: translateY(0px);
  }
}