.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;

}

.carousel{

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}




div.card>img:hover {
  width: 100%;
  transform: scale(1.15);
  height: auto;
}

div.card>img {
  width: 100%;

  height: auto;
  margin-top: 20px;
}

div.card>img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.15);
}

.precio {
  color: red;
  font-size: 15px;
  margin-left: 5px;
}
