<div class="catalog">
  <div class="carousel">
    <div class="card" (click)="goToDetail(product)">
      <img [src]="firstVariant.images[0]" alt="Producto" loading="lazy" />
      <h2 class="product-name">{{ product.name | slice: 0: 23 }}{{ product.name.length > 23 ? '...' : '' }}</h2>

      <p class="price">{{ firstVariant.sizeStock[0].price | currency }}</p>

      <div class="textures">
        <img *ngFor="let variant of product.variants" [src]="variant.texture" [alt]="variant.color" class="texture-thumbnail">
      </div>
    </div>
  </div>
</div>
