<!-- 
<div class="wave-container"></div>
<div class="formulario">
    <h2>Suscríbete y recibe ofertas exclusivas</h2>
    <img  class="logo-imagen-radiu" src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1713047758/productMeanZapateriaHuejutla/imagenes/logo_de4lfm.jpg" alt="Zapatos de moda">
    <form action="#">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Suscribirme</button>
    </form>
</div>
-->



<body>
    <div class="container">
        <div class="formulario">
            <div class="logo">
            <img class="logo-imagen-radiu"
                src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1713047758/productMeanZapateriaHuejutla/imagenes/logo_de4lfm.jpg"
                alt="Zapatos de moda">
            </div>
<!-- 
            <h1>¡Regístrate y únete a la comunidad!</h1> -->
            <form action="#">
                <div class="campo">
                    <label for="nombre">Nombre completo:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" required>
                </div>
                <div class="campo">
                    <label for="correo">Correo electrónico:</label>
                    <input type="email" id="correo" name="correo" placeholder="Ingresa tu correo electrónico" required>
                </div>
                <div class="campo">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                </div>
                <div class="campo">
                    <label for="confirmarPassword">Confirmar contraseña:</label>
                    <input type="password" id="confirmarPassword" name="confirmarPassword"
                        placeholder="Confirma tu contraseña" required>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </div>
<!-- 
        <div class="blur-background">
            <img  class="img-Pre"
                src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1713070579/productMeanZapateriaHuejutla/imagenes/pngegg_17_u8ycrw.png"
                alt="Zapatos de moda"> -->
            <!-- <h1>¡Regístrate y únete a la comunidad!</h1> -->
<!-- <div class="blur-background">
    <div></div>
    <div></div>
    <div></div> -->
<!-- </div> -->

            <!-- <img src="imagen-fondo.jpg" alt="Imagen de fondo"> -->
        <!-- </div> -->
    </div>

    <!-- <script src="script.js"></script> -->
</body>
