<title>Productos de Tenis</title>


<body>
<div class="row">
    <div class="column" *ngFor="let category of categories">
        <a class="catFilter" href="javascript:void(0)" (click)="selectCategory(category)"
            [ngClass]="{'selected': category.selected}">
            {{ category.name }}
        </a>
    </div>
</div>


<!-- <a class="catFilter" href="#zapatillas">Zapatillas</a>
<a class="catFilter" href="#chanclas">Chanclas</a> -->

    <main>

        <div class="product-grid">
            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png" />
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>

            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="SNEAKER BLANCO 2669229">
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>

            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="SNEAKER BLANCO 2669229">
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>

            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="SNEAKER BLANCO 2669229">
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>

            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="SNEAKER BLANCO 2669229">
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>

            <div class="product-card">
                <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712073242/images/pngegg_3_hgb2cw.png"
                    alt="SNEAKER BLANCO 2669229">
                <h2>Zapatillas de Tenis XYZ</h2>
                <p>Marca: Adidas</p>
                <p>Precio: $99.99</p>
                <a href="#">Ver detalles</a>
            </div>
        </div>
    </main>
</body>