/* floating-button.component.css */

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 290px;
  right: 20px;
  background-color: #062db9; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 50%; /* Bordes redondeados para crear la apariencia de burbuja */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sutil sombra */
  animation: fadeInAndMove 0.5s ease-out; /* Animación de fade-in y movimiento */
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.5s ease, height 0.5s ease;

}

@media only screen and (max-width: 600px) {
  .floating-button {
    bottom: 65px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
}

.floating-button:hover {
  background-color: #035d0c; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

@keyframes fadeInAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pi {
  .badge{
    font-size: 8px; /* Ajusta el tamaño del icono según sea necesario */
  }
  margin-left: 10px;
  line-height: 1; /* Asegura que el icono no tenga espacio adicional alrededor */
}
