<div class="details-info">
  <h1 class="product-name">{{ productDetail?.name }}</h1>
  <div class="product-info">
    <p class="slogan">{{ productDetail?.status }}!</p>
    <p class="price">
      <span class="current-price">{{ productDetail?.price | currency: "" }}</span>
      <span class="previous-price" *ngIf="previousPrice">{{ previousPrice | currency: "" }}</span>
    </p>
  </div>

  <form [formGroup]="formGroup">
    <div class="size-and-quantity">
      <label for="size-select">Talla:</label>

      <p-selectButton
      [options]="productDetail?.sizes"
      [(ngModel)]="selectedSize"
      optionLabel="size"


    >
      <ng-template let-size pTemplate="item" >
        <span [ngClass]="{'out-of-stock': size.stock === 0}">
          {{ size.size }}
        </span>
      </ng-template>
    </p-selectButton>

      </div>

            <label for="quantity-input">Cantidad:</label>
            <input
              id="quantity-input"
              type="number"
              formControlName="quantity"
              [(ngModel)]="value1"
              class="quantity-input"
              value="1"
              min="1"
              step="1"
            />

    <div class="action-buttons">
      <button type="button" class="buy-button">Comprar</button>
      <button type="button" class="add-to-bag-button" (click)="addItem()">Agregar al carrito</button>
    </div>
  </form>

  <div class="additional-options">
    <p class="rating">Calificación: <span class="rating-value">4.5</span>/5</p>
  </div>

  <div class="payment-options">
    <label for="pay-input">Formas de pago:</label>
    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1712237563/productMeanZapateriaHuejutla/imagenes/bvg33nkcec5i0h2xbmga.png"
      alt="Icono de opción de pago 1"
      class="payment-icon"
    />
  </div>
</div>
