.details-info {
  font-family: Arial, sans-serif;
  margin: 0;
  padding:20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 100%;
  background-color: #f9f9f9;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slogan {
  font-size: 16px;
  color: #888;
}

.price {
  font-size: 20px;
  margin: 10px 0;
}

.current-price {
  font-weight: bold;
  color: #d23e08;
}

.previous-price {
  text-decoration: line-through;
  color: #938f8f;
  margin-left: 10px;
}

.size-and-quantity {
  margin: 20px 0;
}

.size-item {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stock {
  font-size: 12px;
  color: #888;
}

.quantity-input {
  width: 60px;
  margin-top: 10px;
}

.action-buttons {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.buy-button,
.add-to-bag-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button {
  background-color: #007bff;
  color: white;
}

.add-to-bag-button {
  background-color: #ffc107;
  color: white;
}

.additional-options {
  margin: 20px 0;
}

.rating {
  font-size: 16px;
}

.payment-options {
  margin: 20px 0;
}

.payment-icon {
  width: 50px;
  height: auto;
}
.out-of-stock {
  // display: inline;
  cursor: not-allowed;
  opacity: 0.5;

  text-decoration: line-through;
  color: rgb(93, 93, 93); /* Optional: change the color to make it more visible */
}
.p-selectButton
{
  width: 100%;
}
// class="p-ripple p-element p-button p-component ng-star-inserted"
// Define estilos para el contenedor del p-selectButton
.p-ripple {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  color: #000;

  margin-right:2px; // Espacio entre elementos

  // Estilos adicionales si es necesario
}

