<p-toast></p-toast>

<div *ngIf="productDetail; else loadingSkeleton" class="product-detail">
  <div class="product-images-sidebar">
    <!-- Carrusel de imágenes de producto -->
    <div class="product-image-thumbnail" *ngFor="
        let image of productImages.length > 0
          ? productImages
          : productDetail.variants[0].images;
        let i = index
      " (click)="setMainImage(image)">
      <img [src]="image" alt="Producto" class="side-image" />
    </div>
  </div>

  <div class="product-main-image">
    <div class="product-image" *ngIf="mainImage; else noImage">
      <img [src]="mainImage" alt="Producto" id="zoomed-img" />
    </div>
    <ng-template #noImage>
      <div class="product-image">
        <div class="image-zoom-container">
          <div class="zoomed-image">
            <img [src]="productDetail.variants[0].images[0]" alt="Producto" id="zoomed-img" />
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="product-info">
    <h1>{{ productDetail.name }}</h1>
    <p class="price" *ngIf="selectedSize">${{ selectedSize.price }} MXN</p>
    <p class="price" *ngIf="!selectedSize && productDetail?.variants?.[selectedVariantIndex]?.sizeStock?.[0]">
      ${{ productDetail.variants[selectedVariantIndex].sizeStock[0].price }} MXN
    </p>

    <p class="description">{{ productDetail.description }}</p>
    <div class="color-selection">
      <h3>Color:</h3>
      <div class="colors">
        <div *ngFor="let variant of productDetail?.variants; let i = index"
          [class.selected]="selectedVariantIndex === i" (click)="selectVariant(i)" class="color"
          [ngStyle]="{ 'background-image': 'url(' + variant.texture + ')' }"></div>
      </div>
    </div>

    <div class="size-selection">
      <div class="sizes">
        <div *ngFor="
            let size of sizeOptions.length > 0
              ? sizeOptions
              : productDetail.variants[0].sizeStock;
            let i = index
          " [class.selected]="selectedSize?.size === size.size" (click)="selectSize(size)" class="size">
          {{ size.size }}
        </div>
      </div>
    </div>

    <button class="add-to-cart" (click)="addItem()">Añadir al carrito</button>
    <a href="#" class="add-to-wishlist">Añadir a la lista de deseos</a>
  </div>
</div>

<ng-template #loadingSkeleton>
  <div class="product-detail">
    <div class="product-images-sidebar">
      <!-- Skeleton for the thumbnails -->
      <div *ngFor="let i of [1,2,3,4]" class="thumbnail-skeleton">
        <p-skeleton width="23rem" height="60px"></p-skeleton>
      </div>
    </div>

    <div class="product-main-image">
      <!-- Skeleton for the main image -->
      <p-skeleton width="300px" height="300px" class="skeleton-main-image"></p-skeleton>
    </div>

    <div class="product-info">
      <p-skeleton width="40rem" height="30px" class="skeleton-title"></p-skeleton>
      <p-skeleton width="100px" height="20px" class="skeleton-price"></p-skeleton>
      <p-skeleton width="40rem" height="100px" class="skeleton-description"></p-skeleton>
      <p-skeleton width="50px" height="40px" class="skeleton-color-selection"></p-skeleton>
      <p-skeleton width="50%" height="40px" class="skeleton-size-selection"></p-skeleton>
      <p-skeleton width="40rem" height="40px" class="skeleton-button"></p-skeleton>
    </div>
  </div>
</ng-template>
