.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.489);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-img {

  width: 200px;
  margin-right: 10px; /* Espacio entre los logos */
}

.logo-img2 {
  display: none;
  margin-right: 0; /* Eliminar el margen entre los logos en dispositivos móviles */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: #8bb33a;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #21556a;
  background: #c8c8c8b2;
}

@media screen and (max-width: 768px) {
  .pi{
    font-size: 18px;
    margin-right: 5px;
  }
  .menu{
    display: none;
  }
  .logo-img {
    display: none;
    margin-right: 0; /* Eliminar el margen entre los logos en dispositivos móviles */
  }


  .logo-img2 {
    width: 10%;
    height: auto;
    display: inline-block;
    margin-right: 0;
  }
}
