<p-sidebar [(visible)]="sidebarVisible2" position="right">
  <div class="user-section" *ngIf="showUserName">
    <!-- Mostrar mensaje de bienvenida y nombre de usuario si está disponible -->
    <p>Bienvenido, {{ userName }}</p>
    <hr />
    <ul>
      <li><a class="a" (click)="redirectToMobil('home')"><i class="pi pi-home"></i>Inicio </a></li>
      <li><a class="a" (click)="logout()"> <i class="pi pi-sign-out"></i>Cerrar sesión </a></li>
    </ul>
  </div>
  <div *ngIf="!showUserName">
    <h3>Menú</h3>
    <ul>
      <li><a class="a" (click)="redirectToMobil('home')">Inicio <i class="pi pi-home"></i></a></li>
      <li>
        <a class="a" (click)="redirectToMobil('login')"><i class="pi pi-user"></i> Iniciar sesión</a>
      </li>
      <li>
        <a class="a" (click)="redirectToMobil('registrarme')"><i class="pi pi-user-plus"></i> Registrarme</a>
      </li>
    </ul>
  </div>
  <hr />
  <h3>Opciones</h3>
  <ul>
    <li><a routerLink="/ajustes"><i class="pi pi-cog"></i> Ajustes</a></li>
    <li><a routerLink="/ayuda"><i class="pi pi-question-circle"></i> Ayuda</a></li>
    <li><a routerLink="/salir"><i class="pi pi-power-off"></i> Salir</a></li>
  </ul>
</p-sidebar>

<header class="header" [ngClass]="{ scrolled: isScrolled }">
  <div class="logo">
    <img
      class="logo-img big-logo"
      [src]="
        'https://0201.nccdn.net/1_2/000/000/16d/0af/5c82807a5ad7e.png#RDAMDAID19391744'
      "
      alt="Logo"
    />
    <img
      class="logo-img2 small-logo"
      [src]="
        'https://res.cloudinary.com/dkfaglomz/image/upload/v1712038934/public/snucbs5916vwdiksyfwx.png'
      "
      alt="Logo"
    />
  </div>
  <i
    *ngIf="!showSearchInput"
    (click)="toggleSearchInput()"
    class="pi pi-search"
  ></i>
  <div
    class="p-inputgroup search-container"
    [ngClass]="{ 'hidden-input': !showSearchInput }"
  >
    <i
      *ngIf="showSearchInput"
      (click)="toggleSearchInput()"
      class="pi pi-search"
    ></i>
    <input *ngIf="showSearchInput" placeholder="Buscar..." />
  </div>

  <nav class="menu">
    <ul>
      <li><a class="a" (click)="redirectTo('home')">Inicio</a></li>
      <!-- <li><a class="a" >Nosotros</a></li> -->
      <li><a class="a">Servicios</a></li>
      <!-- Colocar en caso de que haya sido logeado <li><a href="#">Productos</a></li> -->
      <li><a class="a" (click)="redirectTo('acerca-empresa')">Nosotros</a></li>
      <li class="usuario">
        <img
          src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1713033578/productMeanZapateriaHuejutla/imagenes/usuario_b6nr6o.png"
          alt=""
        />
        <ul>
          <!-- Mostrar enlace de cerrar sesión si hay datos de usuario -->
          <li *ngIf="showUserName">
            <p class="aSubm" (click)="logout()">Cerrar sesión</p>
          </li>
          <!-- Mostrar enlace de registro e inicio de sesión si no hay datos de usuario -->
          <li *ngIf="!showUserName">
            <p class="aSubm" (click)="redirectTo('registrarme')">Registrarme</p>
          </li>
          <li *ngIf="!showUserName">
            <p class="aSubm" (click)="redirectTo('login')">Iniciar sesión</p>
          </li>
          <!-- Mostrar nombre de usuario si está disponible -->
          <li *ngIf="showUserName">
            <p>{{ userName }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <span class="pi pi-shopping-cart" pBadge value="2" severity="warning"></span>

  <i
    class="pi pi-bars"
    *ngIf="isMobile && !showCart"
    (click)="toggleMenu()"
  ></i>
</header>
